*
!.gitignore
!README.md
!LICENSE
!.github
!.github/workflows
!.github/workflows/test.yml
!.github/workflows/release.yml
!.goreleaser.yml
!test.sh
!sample
!sample/input.md
!sample/output.md

!go.mod
!main.go
!flag.go
!process.go
!convertbody.go
!convertyaml.go
!flag_test.go
!main_test.go

!testdata
!testdata/convertbody
!testdata/convertbody/**

!process
!process/walk.go
!process/process.go
!process/component.go

!scan
!scan/scan.go
!scan/scan_test.go

!convert
!convert/convert.go
!convert/transform.go
!convert/link.go
!convert/error.go
!convert/convert_test.go
!convert/transform_test.go
!convert/link_test.go
!convert/testdata
!convert/testdata/linkconverter
!convert/testdata/linkconverter/**
!convert/testdata/pathdbget
!convert/testdata/pathdbget/**
!convert/testdata/transformexternallink
!convert/testdata/transformexternallink/**
