*
!.gitignore
!go.mod
!main.go
!convert.go
!transform.go
!scan.go
!link.go
!preprocess.go
!frontmatter.go
!main_test.go
!transform_test.go
!scan_test.go
!link_test.go
!preprocess_test.go
!testdata
!testdata/findpath
!testdata/findpath/**
!testdata/transformexternallink
!testdata/transformexternallink/**