*
!.gitignore
!README.md
!LICENSE
!.github
!.github/workflows
!.github/workflows/test.yml
!.github/workflows/release.yml
!.goreleaser.yml
!test.sh
!sample
!sample/input.md
!sample/output.md

!go.mod
!main.go
!preprocess.go
!frontmatter.go
!convert.go
!walk.go
!flag.go
!preprocess_test.go
!flag_test.go
!frontmatter_test.go

!testdata
!testdata/findpath
!testdata/findpath/**
!testdata/transformexternallink
!testdata/transformexternallink/**
!testdata/linkconverter
!testdata/linkconverter/external
!testdata/linkconverter/external/**
!testdata/linkconverter/internal
!testdata/linkconverter/internal/**
!testdata/linkconverter/embeds
!testdata/linkconverter/embeds/**

!scan
!scan/scan.go
!scan/scan_test.go

!convert
!convert/convert.go
!convert/transform.go
!convert/link.go
!convert/error.go
!convert/convert_test.go
!convert/transform_test.go
!convert/link_test.go
